[Unit]
Description=Kleopatra KGPG frontend
Documentation=man:kleopatra(1)
# order startup after WM
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots" ""
ExecStart=kleopatra --daemon
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
